<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('garcia/core/appointments') ?>">Appointments</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>
    <div class="form-buttons">
        <div class="loading-indicator-container">
            <button
                type="submit"
                data-request="onPreviewPdf"
                data-hotkey="ctrl+s, cmd+s"
                data-load-indicator="Creating PDF File..."
                class="btn btn-primary oc-icon-file-pdf-o">
                PDF
            </button>
        </div>
    </div>
    <div class="form-preview">
        <?= $this->formRenderPreview() ?>
    </div>
<?php else: ?>
    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('garcia/core/appointments') ?>" class="btn btn-default">Return to appointments list</a></p>
<?php endif ?>
