<section class="breadcrumb-modern context-dark text-lg-left">
	<div class="container section-34 section-md-top-110 section-md-bottom-41">
		<h1>{{this.page.title}}</h1>
		<ul class="list-inline list-inline-arrows p offset-top-34 offset-md-top-70">
			<li class="list-inline-item"><a class="text-java" href="{{ 'home'|page }}">Home</a></li>
			<li class="list-inline-item">{{this.page.title}}</li>
		</ul>
	</div>
</section>
