[viewBag]

==
<footer class="section-relative section-top-66 section-bottom-34 page-footer bg-default context-light">
    <div class="container">
      	<div class="row justify-content-md-center">
	        <div class="col-md-8 col-lg-12">
          		<!-- Footer brand-->
          		<div class="footer-brand d-inline-block">
		          	<a href="{{ 'home'|page }}">
		          		<img width="151" height="52" class="img-responsive" src="{{ 'assets/images/logo-primary.jpg'|theme }}" alt="">
		          	</a>
	          	</div>
	          	<div class="offset-top-55">
	              	<ul class="list-inline">
	                	<li class="list-inline-item">
	                		<a class="icon fa fa-facebook icon-xxs icon-circle icon-gray-light" href="{{ settings.general.general_social_facebook }}" target="_blank"></a>
	                	</li>
		                <li class="list-inline-item">
		                	<a class="icon fa fa-instagram icon-xxs icon-circle icon-gray-light" href="{{ settings.general.general_social_instagram }}" target="_blank"></a>
		                </li>
	              	</ul>
	          	</div>
          		<div class="offset-top-50">
	            	<p class="small text-gray">© <span class="copyright-year">2018</span> All Rights Reserved.</p>
	          	</div>
	        </div>
      	</div>
    </div>
</footer>
