[viewBag]

[staticMenu mainMenu]
code = "main-menu"
==
<!-- Page Head-->
<header class="page-head">
	<div class="rd-navbar-wrap">
      	<nav class="rd-navbar rd-navbar-minimal rd-navbar-light" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-md-stick-up-offset="120px" data-lg-stick-up-offset="120px" data-lg-auto-height="true" data-lg-stick-up="true">
        	<div class="rd-navbar-inner">
          		<div class="rd-navbar-top-panel">
		            <!--Navbar Brand-->
		            <div class="rd-navbar-brand d-none d-lg-inline-block">
		            	<a href="{{ 'home'|page }}">
		            		<img width='151' height='52' class='img-responsive' src="{{ 'assets/images/logo-primary.jpg'|theme }}" alt=''/>
		            	</a>
		            </div>
            		<div>
	              	<address class="contact-info d-md-inline-block text-left offset-none">
		                <div class="p unit unit-spacing-xs flex-row">
	                  		<div class="unit-left">
	                  			<span class="icon icon-xs icon-circle icon-gray-light mdi mdi-phone text-primary"></span>
	                  		</div>
		                  	<div class="unit-body mg-t-10">
		                  		<a class="text-gray-darker" href="tel:{{ settings.general.general_contact_phone }}">
		                  			{{ settings.general.general_contact_phone_display }}
		                  		</a>
		                	</div>
	                	</div>
              		</address>
              		<address class="contact-info d-md-inline-block text-left">
                		<div class="p unit flex-row unit-spacing-xs">
                  			<div class="unit-left">
                  				<span class="icon icon-xs icon-circle icon-gray-light mdi mdi-map-marker text-primary"></span>
                  			</div>
                  			<div class="unit-body mg-t-10">
                  				<a class="text-gray-darker" href="https://www.google.com/maps/dir//-6.0995535,106.1409975/@-6.099553,106.140998,16z?hl=en-US" target="_blank">
                  					Jl. Griya Purnama No. 99 Serang
                  				</a>
                  			</div>
               		 	</div>
             		 </address>
            	</div>
          	</div>

          	<!-- RD Navbar Panel-->
          	<div class="rd-navbar-panel">
	            <!-- RD Navbar Toggle-->
	            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap">
	            	<span></span>
	            </button>
	            <!--Navbar Brand-->
	            <div class="rd-navbar-brand d-xl-none">
	            	<a href="{{ 'home'|page }}">
	            		<img width='151' height='52' class='img-responsive' src="{{ 'assets/images/logo-primary.jpg'|theme }}" alt=''/>
	            	</a>
	            </div>
	            <button class="rd-navbar-top-panel-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-top-panel">
	            	<span></span>
	            </button>
          	</div>

          	<div class="rd-navbar-menu-wrap">
            	<div class="rd-navbar-nav-wrap">
              		<div class="rd-navbar-mobile-scroll">
		                <!--Navbar Brand Mobile-->
		                <div class="rd-navbar-mobile-brand">
		                	<a href="{{ 'home'|page }}">
		                		<img width='151' height='52' class='img-responsive' src="{{ 'assets/images/logo-primary.jpg'|theme }}" alt=''/>
		                	</a>
	                	</div>

                		{#
                        <div class="form-search-wrap">
	                  		<!-- RD Search Form-->
		                  	<form class="form-search rd-search" action="search-results.html" method="GET">
		                    	<div class="form-wrap">
		                      		<label class="form-label form-search-label form-label-sm" for="rd-navbar-form-search-widget">Search</label>
		                      		<input class="form-search-input form-input form-input-gray-lightest input-sm" id="rd-navbar-form-search-widget" type="text" name="s" autocomplete="off"/>
		                    	</div>
		                    	<button class="form-search-submit" type="submit">
		                    		<span class="fa fa-search text-primary"></span>
		                    	</button>
		                  </form>
                		</div>
                        #}

		                <!-- RD Navbar Nav-->
		                <ul class="rd-navbar-nav">
	                  		{% for item in mainMenu.menuItems %}
		                  	<li class="{{ item.isActive ? 'active' : '' }} {{ item.items ? 'rd-navbar--has-dropdown rd-navbar-submenu' : '' }}">
		                  		<a href="{{ item.url ? item.url : '#' }}" {{ item.viewBag.isExternal ? 'target="_blank"' }}>
		                  			<span>{{ item.title }}</span>
		                  		</a>
		                  		{% if item.items %}
		                  		<ul class="rd-navbar-dropdown">
									{% for i in item.items %}
		                          	<li>
		                          		<a href="{{ i.url ? i.url : '#' }}"><span class="text-middle">{{ i.title }}</span></a>
		                          	</li>
									{% endfor %}
		                        </ul>
		                        {% endif %}
		                  	</li>
		                  {% endfor %}
                		</ul>
              		</div>
        		</div>
            	<!--RD Navbar Search-->
	            {#
                <div class="rd-navbar-search">
                    <a class="rd-navbar-search-toggle mdi" data-rd-navbar-toggle=".rd-navbar-menu-wrap,.rd-navbar-search" href="#">
	            		<span></span>
	            	</a>
	              	<form class="rd-navbar-search-form search-form-icon-right rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
		                <div class="form-wrap">
		                	<label class="form-label" for="rd-navbar-search-form-input">Type and hit enter...</label>
		                	<input class="rd-navbar-search-form-input form-input form-input-gray-lightest" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off"/>
		                </div>
	                	<div class="rd-search-results-live" id="rd-search-results-live"></div>
	              	</form>
            	</div>
                #}
          	</div>
        </div>
      </nav>
    </div>

    {% if this.page.isSlider %}
      {% partial 'slider' %}
    {% endif %}
</header>
