<div class="section-top-20">
    <div class="swiper-container swiper-primary swiper-slider bg-default" data-loop="true" data-height="" data-slide-effect="slide" data-dragable="false" data-min-height="400px">
        <div class="swiper-wrapper text-center">
            {% for key, slider in settings.appearance.slider_primary %}
            <div class="swiper-slide {{ key == 0 ? 'active' : '' }}" data-slide-bg="" data-swiper-autoplay="4000" data-autoplay="4000">
                <div class="swiper-caption">
                    <div class="swiper-slide-caption">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 align-self-lg-end swiper-image">
                                    <div>
                                        <img src="{{ url('storage/app/media/') ~ slider.image }}" alt="" class="img-full img-responsive">
                                    </div>
                                </div>
                                <div class="col-lg-6 section-41 section-sm-98 section-md-110 to-front swiper-caption">
                                    <div class="text-lg-left">
                                        <h2>{{ slider.text }}</h2><a class="btn btn-ellipse btn-java offset-top-24" href="{{ slider.button_link ? slider.button_link : '#' }}">{{ slider.button }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
