[googleTracker]

==

{% component 'googleTracker' %}
<link rel='preload' href='//apps.shareaholic.com/assets/pub/shareaholic.js' as='script' />
<script type="text/javascript" data-cfasync="false" async src="//apps.shareaholic.com/assets/pub/shareaholic.js" data-shr-siteid="8c2b6ce9704d1fd3a13a58ff18426742"></script>
<script>
	{% if user %}
	// GA User Identification
	ga('set', 'userId', '{{ user.email }}');

	// Zopim User Identification
	// $zopim(function() {
	//     $zopim.livechat.setName('{{ user.name }}');
	//     $zopim.livechat.setEmail('{{ user.email }}');
	// });
	{% endif %}
</script>
