title     = "Fasilitas"
url       = "/facility"
layout    = "default"
is_hidden = 0

[Facility]
==
{% set facilities = Facility.getAll %}

{% partial 'banner' %}
<section class="section-98 section-sm-110">
	<div class="container">
        <div class="isotope-wrap">
	        <div class="row">
	            <!-- Isotope Filters-->
	            <div class="col-lg-12">
              		<div class="isotope-filters isotope-filters-horizontal">
		                <ul class="list-inline list-inline-sm">
	                  		<li class="d-lg-none">
		                    	<p>Choose your category:</p>
		                  	</li>
	                  		<li class="section-relative">
		                    	<button class="isotope-filters-toggle btn btn-sm btn-default" data-custom-toggle="isotope-1" data-custom-toggle-disable-on-blur="true">Filter<span class="caret"></span></button>

		                    	<ul class="list-sm-inline isotope-filters-list" id="isotope-1">
			                    	<li>
			                    		<a class="active" data-isotope-filter="*" data-isotope-group="gallery" href="#">All</a>
			                    	</li>
			                    	{% for facility in facilities %}
			                    	<li>
			                    		<a data-isotope-filter="{{ facility.name }}" data-isotope-group="gallery" href="#">{{ facility.name }}</a>
			                    	</li>
			                    	{% endfor %}
		                    	</ul>
		                  	</li>
		                </ul>
	              	</div>
	            </div>

	            <!-- Isotope Content-->
	            <div class="col-lg-12 offset-top-34">
	              	<div class="isotope" data-isotope-layout="fitRows" data-isotope-group="gallery">
	                	<div class="row" data-lightgallery="group">
	                		{% for facility in facilities %}
		                		{% for key,	image in facility.galleries %}
	                  			<div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="{{ facility.name }}">
	                  				<a class="thumbnail-custom" data-lightgallery="item" href="{{ image.getPath() }}">
	                              		<figure>
	                              			<img width="370" height="240" src="{{ image.getThumb('370', '240', 'crop') }}" alt="">
		                                	<figcaption class="thumbnail-custom-caption text-center">
			                                  	<h6 class="thumbnail-custom-title text-white">{{ facility.name ~ (key+1) }}</h6>
			                                  	<hr class="divider divider-xs bg-java">
		                                	</figcaption>
		                              </figure>
		                          	</a>
	                  			</div>
	                  			{% endfor %}
                  			{% endfor %}
                  		</div>
	              	</div>
	            </div>
          	</div>
        </div>
	</div>
</section>
