url       = "/doctor/view/:parameter"
layout    = "default"
is_hidden = 0

[DoctorDetail]
parameter="{{ :parameter }}"
==
<div class="breadcrumb-inset-left">
	<section class="breadcrumb-modern context-dark text-lg-left">
		<div class="container section-34 section-md-top-110 section-md-bottom-41">
			<h1>&nbsp;</h1>
			<ul class="list-inline list-inline-arrows p offset-top-34 offset-md-top-70">
				<li class="list-inline-item"><a class="text-java" href="{{ 'home'|page }}">Home</a></li>
				<li class="list-inline-item"><a class="text-java" href="{{ 'team/index'|page }}">Dokter</a></li>
				<li class="list-inline-item">{{ doctor.name  }}</li>
			</ul>
		</div>
	</section>
</div>

<!-- Page Content-->
<main class="page-content">
	<!-- team member section-->
	<section class="section-98 section-sm-top-34 section-sm-bottom-110">
	 	<div class="container">
	    	<div class="row justify-content-sm-center">
	      		<div class="col-sm-10 col-lg-4">
			        <!-- Member block type 5-->
			        <div class="member-block-type-5 inset-lg-right-20">
			        	<img class="img-responsive center-block" src="{{ doctor.picture ? doctor.picture.getThumb('320', '320', 'crop') : 'assets/images/users/user-scott-riley-320x320.jpg'|theme }}" width="320" height="320" alt=""/>
			          	<div class="member-block-body">
			          		<a class="btn btn-ellipse btn-java" href="{{ 'schedule/create'|page }}">Buat Janji</a>
		            		<address class="contact-info offset-top-20 offset-sm-top-24">
		              			<ul class="list-unstyled p">
		                			<li>
		                				<span class="icon icon-xxxs text-middle text-primary mdi mdi-phone"></span>
		                				<a class="text-middle d-inline-block text-gray-darker" href="tel:{{ settings.general.general_contact_phone }}">{{ settings.general.general_contact_phone_display }}</a>
		                			</li>
		                			<li>
		                				<span class="icon icon-xxxs text-middle text-primary mdi mdi-email-open"></span>
		                				<a class="text-middle d-inline-block text-gray-darker" href="mailto:{{ settings.general.general_contact_email }}">{{ settings.general.general_contact_email }}</a>
		                			</li>
		                		</ul>
		                	</address>
		                </div>
	        		</div>
        		</div>
	      		<div class="col-sm-10 col-lg-8 text-lg-left offset-top-60 offset-md-top-0">
					<div class="row row-40">
						<div class="col-md-12">
							<div>Posisi</div>
							<h5 class="font-weight-bold">{{ doctor.type.name}}</h5>
						</div>
					</div>
			        <div class="offset-top-66 text-left">
		          		<h6>Jadwal Praktek</h6>
		          		<hr class="text-subline">
		          		<table class="table">
		          			<thead>
		          				<tr>
		          					<th>Hari</th>
		          					<th>Waktu</th>
		          				</tr>
		          			</thead>
		          			<tbody>
		          				{% for d in doctor.schedule %}
			          				{% if d.day == 'Sunday' %}
		                            {% set day = 'Minggu' %}
		                            {% endif %}

		                            {% if d.day == 'Monday' %}
		                            {% set day = 'Senin' %}
		                            {% endif %}

		                            {% if d.day == 'Tuesday' %}
		                            {% set day = 'Selasa' %}
		                            {% endif %}

		                            {% if d.day == 'Wednesday' %}
		                            {% set day = 'Rabu' %}
		                            {% endif %}

		                            {% if d.day == 'Thursday' %}
		                            {% set day = 'Kamis' %}
		                            {% endif %}

		                            {% if d.day == 'Friday' %}
		                            {% set day = 'Jumat' %}
		                            {% endif %}

		                            {% if d.day == 'Saturday' %}
		                            {% set day = 'Sabtu' %}
		                            {% endif %}
		          				<tr>
		          					<td>{{ day }}</td>
		          					<td>{{ d.time_start|date('H:i') }} s/d {{ d.time_end|date('H:i') }}</td>
		          				</tr>
		          				{% endfor %}
		          			</tbody>
		          		</table>
			        </div>
	      		</div>
	    	</div>
	  	</div>
	</section>
</main>
