title = "Dokter"
url = "/doctor"
layout = "default"
is_hidden = 0

[Doctor]
==
{% set doctors = Doctor.getAll %}

{% partial 'banner' %}
<!-- Our team-->
<section class="section-98 section-sm-110">
	<div class="container">
		<div class="offset-top-41 offset-lg-top-60">
			<div class="row justify-content-sm-center row-40">
	    		{% for doctor in doctors %}
			    <div class="col-sm-8 col-md-7 col-lg-3">
					<!-- Thumbnail Josip-->
					<figure class="thumbnail-josip">
						<a href="{{ 'team/detail'|page({parameter: doctor.slug}) }}">
							<img width="270" height="270" src="{{ doctor.picture ? doctor.picture.getThumb('270', '270', 'crop') : 'assets/images/placeholder-default.png'|theme }}" alt=""/>
						</a>
						<div class="thumbnail-desc">
							<h5 class="thumbnail-josip-title font-weight-bold text-white">{{ doctor.name }}</h5>
							<p class="d-none d-lg-block font-italic text-white offset-top-0">{{ doctor.type.name }}</p>
						</div>
						<figcaption>
							<a class="btn btn-block btn-rect text-lg-left btn-java" href="{{ 'team/detail'|page({parameter: doctor.slug}) }}">view full profile</a>
						</figcaption>
					</figure>
			    </div>
				{% endfor %}
		  	</div>
		</div>
	</div>
</section>
