title     = "Layanan"
url       = "/service"
layout    = "default"
is_hidden = 0

[Service]
==
{% set services = Service.getAll %}

{% partial 'banner' %}
<main class="page-content section-98 section-sm-top-85 section-sm-bottom-200">
	<section>
		<div class="container">
			<div class="row row-50">
				<div class="col-lg-3">
					<div class="tabs-custom tabs-vertical tabs-corporate" id="tabs-2">
						<!-- Nav tabs-->
						<ul class="nav nav-tabs">
							{% for key, service in services %}
							<li class="nav-item" role="presentation">
								<a class="nav-link {{ key == 0 ? 'active' : '' }}" href="#service{{ key }}" data-toggle="tab">{{ service.name }}</a>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="tab-content text-left">
						{% for key, service in services %}
						<div class="tab-pane fade show {{ key == 0 ? 'active' : '' }}" id="service{{ key }}">
							<h3>{{ service.name }}</h3>
							<hr class="divider divider-lg hr-sm-left-2 bg-java">

							<div class="offset-top-60">
								<a href=""></a>
								<img class="img-responsive" src="{{ service.picture ? service.picture.getThumb('870', '440', 'crop') : 'assets/images/pages/services-03-870x440.jpg'|theme }}" width="870" height="440" alt=""/>

								<div class="offset-top-30">
									{{ service.content|md }}
								</div>

								<div class="offset-top-30">
									<a class="btn btn-ellipse btn-java" href="{{ 'schedule/create'|page }}">Buat Jadwal</a>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
