title = "Hubungi"
url = "/contact"
layout = "default"
is_hidden = 0

[Contact]
==
{% partial 'banner' %}
<!-- Page Content-->
<main class="page-content section-top-98 section-sm-top-110">
	<section>
  		<div class="container">
		    <div class="row justify-content-sm-center">
	      		<div class="col-md-9 col-lg-8 col-xl-12">
			        <div class="row">
		          		<div class="col-xl-8 text-left">
				            <h3>Tinggalkan Pesan</h3>
				            <hr class="divider divider-lg bg-java hr-left-0 hr-sm-left-2">

				            <div class="offset-top-66">
			              		<p>
                                    You can contact us any way that is convenient for you. We are available 24/7 via fax or email. You can also use a quick contact form below or visit our medical center personally.
                                </p>
			              		<p>We would be happy to answer your questions.</p>
				            </div>

				            <div class="offset-top-34">
			              		<form class="rd-mailform text-left" data-request="Contact::onContact" data-request-flash>
			              			<div class="form-wrap form-wrap-label-outside">
		                      			<label class="form-label form-label-outside text-dark rd-input-label">Nama</label>
		                      			<input class="form-input form-input-last-child"  type="text" name="name">
		                    		</div>
				                	<div class="row justify-content-sm-center">
				                  		<div class="col-md-6">
				                    		<div class="form-wrap form-wrap-label-outside">
				                      			<label class="form-label form-label-outside text-dark rd-input-label">E-mail</label>
				                      			<input class="form-input form-input-last-child" type="email" name="email">
				                    		</div>
				                  		</div>
				                  		<div class="col-md-6 offset-top-20 offset-sm-top-0">
				                    		<div class="form-wrap form-wrap-label-outside">
				                      			<label class="form-label form-label-outside text-dark rd-input-label">No. Telefon</label>
				                      			<input class="form-input form-input-last-child" id="contacts-phone" type="text" name="phone">
				                    		</div>
				                  		</div>
				                	</div>
				                	<div class="form-wrap form-wrap-label-outside">
		                      			<label class="form-label form-label-outside text-dark rd-input-label">Subyek</label>
		                      			<input class="form-input form-input-last-child" id="contacts-phone" type="text" name="subject">
		                    		</div>
			                		<div class="form-wrap form-wrap-label-outside offset-top-20">
				                  		<label class="form-label form-label-outside text-dark rd-input-label">Pesan</label>
				                  		<textarea class="form-input form-input-last-child" name="content" style="max-height: 150px;"></textarea>
			               	 		</div>
				                	<div class="offset-top-18 offset-sm-top-24 text-center text-md-left">
				                  		<button class="btn btn-ellipse btn-java" type="submit" style="min-width: 130px;" data-attach-loading>Kirim</button>
				                	</div>
				              	</form>
				            </div>
			          	</div>
			          	<div class="col-xl-4 text-left offset-top-66 offset-lg-top-0">
			          		{% partial 'contact/contact-information' %}
			          	</div>
			        </div>
	      		</div>
		    </div>
	  	</div>
	</section>

	<section class="offset-top-110">
		{% partial 'map-location' %}
	</section>
</main>
