title = "Home"
url = "/"
layout = "default"
is_hidden = 0

[Service]

[Doctor]

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 3
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==
<?php
function onStart() {
  $this->page['isSlider'] = true;
}
?>
==
{% set services = Service.getAll %}
{% set doctors  = Doctor.getPinned %}

<!--Sheldue-->
<section>
	<div class="bg-default-liac">
	    <div class="container section-top-34 pt-xl-0">
      		<div class="row no-gutters justify-content-sm-center justify-content-xl-start offset-lg-top-34-negative sheldue text-sm-left to-front row-70">
		        <div class="col-md-8 col-lg-5 col-xl-3">
	          		<div class="sheldue-item first">
			            <div class="sheldue-item-body">
		              		<div class="icon icon-xs mdi mdi-calendar-clock text-java"></div>
		              		<h6 class="d-inline-block inset-left-10 text-white">Jam Buka</h6>
		              		<hr>

		              		<div class="row offset-top-24 justify-content-sm-between text-gray-light">
		              			{% for opening in settings.general.general_info_open %}
				                <div class="col-sm-4 offset-xs-top-10">{{ opening.day }}</div>
				                <div class="col-sm-7 text-sm-right">{{ opening.time }}</div>
				                {% endfor %}
			              	</div>
			            </div>
			            <div class="sheldue-more">
			            	<a class="btn btn-java btn-block btn-rect" href="{{ 'schedule/index'|page }}">Lihat Jadwal</a>
			            </div>
		          	</div>
		        </div>

		        <div class="col-md-8 col-lg-5 col-xl-3">
	          		<div class="sheldue-item light">
			            <div class="sheldue-item-body">
		              		<div class="icon icon-xs mdi mdi-calendar-today text-java"></div>
		              		<h6 class="d-inline-block inset-left-10 text-white">Jadwal Dokter</h6>
	             	 		<hr>
		              		<div class="offset-top-24 text-gray-light">
			                	<p>Berikut ini adalah panduan hanya untuk membantu Anda merencanakan janji dengan dokter atau perawat pilihan. Ini tidak menjamin ketersediaan karena dokter atau perawat terkadang menghadiri tugas lain.</p>
			              	</div>
			            </div>
			            <div class="sheldue-more">
			            	<a class="btn btn-java btn-block btn-rect" href="{{ 'schedule/index'|page }}">Lihat Jadwal</a>
			            </div>
	         	 	</div>
		        </div>

		        <div class="col-md-8 col-lg-5 col-xl-3">
	          		<div class="sheldue-item">
			            <div class="sheldue-item-body">
		              		<div class="icon icon-xs mdi mdi-phone text-java"></div>
		              		<h6 class="d-inline-block inset-left-10 text-white">Buat Janji</h6>
		              		<hr>

		              		<div class="offset-top-24 text-gray-light">
		                		<p>segera buat janji bersama dokter kami sesuai dengan kebutuhan anda.</p>
		              		</div>
			            </div>
			            <div class="sheldue-more">
			            	<a class="btn btn-java btn-block btn-rect" href="{{ 'schedule/create'|page}}">Buat Janji</a>
			            </div>
	          		</div>
		        </div>

		        <div class="col-md-8 col-lg-5 col-xl-3">
	          		<div class="sheldue-item light last">
		            	<div class="sheldue-item-body">
		              		<div class="icon icon-xs icon-emergency-01"></div>
		              		<h6 class="d-inline-block inset-left-10 text-white">Nomor Darurat</h6>
		              		<hr>

	              			<div class="offset-top-24">
				                <h5 class="font-weight-bold"><a class="text-white" href="tel:{{ settings.general.general_contact_phone_emergency }}">{{ settings.general.general_contact_phone_emergency_display }}</a></h5>
				                <p class="text-gray-light">Hubungi Kami!</p>
		              		</div>
		            	</div>
		            	<div class="sheldue-more">
		            		<a class="btn btn-java btn-block btn-rect" href="{{ 'contact'|page }}">Kontak</a>
		            	</div>
		          	</div>
		        </div>
	      	</div>
	    </div>
	</div>
</section>

<!--What makes us different-->
<section class="section-98 section-sm-110 bg-default-liac">
	<div class="container">
	    <h3>NILAI DASAR KAMI</h3>
	    <hr class="divider divider-lg bg-java">

	    <div class="row offset-top-60 row-50">
			<div class="col-lg-2 offset-lg-1">
		        <div class="icon icon-xlg icon-circle icon-default icon-pills-xl"></div>
		        <h5 class="font-weight-bold text-primary">Responsibility</h5>
	      	</div>
	      	<div class="col-lg-2">
		        <div class="icon icon-xlg icon-circle icon-default icon-doctor-xl"></div>
		        <h5 class="font-weight-bold text-primary">Affection</h5>
	      	</div>
	      	<div class="col-lg-2">
		        <div class="icon icon-xlg icon-circle icon-default icon-medical-car-xl"></div>
		        <h5 class="font-weight-bold text-primary">Motivation</h5>
	      	</div>
	      	<div class="col-lg-2">
		        <div class="icon icon-xlg icon-circle icon-default icon-ability-xl"></div>
		        <h5 class="font-weight-bold text-primary">Ability</h5>
	      	</div>
	      	<div class="col-lg-2">
		        <div class="icon icon-xlg icon-circle icon-default icon-humanism-xl"></div>
		        <h5 class="font-weight-bold text-primary">Humanism</h5>
	      	</div>
	    </div>
  	</div>
</section>

<!-- RD Parallax-->
<section class="parallax-container" data-parallax-img="{{ 'assets/images/backgrounds/background-03-1920x537.jpg'|theme }}">
	<div class="parallax-content section-98 section-sm-110 context-dark">
	    <div class="container text-left">
      		<div class="row justify-content-sm-center justify-content-lg-start">
		        <div class="col-md-10 col-lg-8 col-xl-5">
	          		<h2>RSIA<br class="d-none d-xl-inline-block">PURI GARCIA</h2>
	          		<p class="offset-top-30 text-gray-light">kami akan melayani anda dengan setulus hati, melakukan yang terbaik, seperti layakanya anda sebagai bagian dari keluarga kami.</p>
	          		<div class="offset-top-30">
	          			<a class="btn btn-ellipse btn-java" href="{{ 'schedule/create'|page }}">BUAT JANJI</a>
	          		</div>
	        	</div>
	      	</div>
	    </div>
  	</div>
</section>

<!-- main services-->
<section class="section-98 section-sm-110">
	<div class="container">
    	<h3>Pelayanan Kami</h3>
    	<hr class="divider divider-lg bg-java">
	    <div class="offset-top-41 offset-md-top-60">
	      <p>Pelayanan kesehatan ibu dan anak yang Profesional Bermutu dengan standar Terbaik</p>
	    </div>

    	<div class="row offset-top-60 text-lg-left row-50">
      		{% for service in services %}
      		<div class="col-md-6 col-lg-4">
        		<div class="service">
        			<a href=""></a>
        			<img class="img-responsive" src="{{ service.picture ? service.picture.getThumb('320', '320', 'crop') : 'assets/images/pages/home-01-320x320.jpg'|theme }}" width="320" height="320" alt=""/>
        			<a class="service-desc h6" href="{{ 'service/index'|page }}">{{ service.name }}</a>
        		</div>
      		</div>
      		{% endfor %}
    	</div>
    	<div class="offset-top-60"><a class="btn btn-ellipse btn-java" href="{{ 'service/index'|page }}">Lihat Semua</a></div>
  	</div>
</section>
<!-- Our Team-->

<section>
	<div class="d-lg-flex justify-content-sm-center">
	    {% for key, doctor in doctors %}
	    <figure class="thumbnail-josip thumbnail-big {{ key%2 == 0 ? 'odd' : '' }}">
      		<a href="{{ 'team/detail'|page({parameter: doctor.slug}) }}">
      			<img width="384" height="410" src="{{ doctor.picture ? doctor.picture.getThumb('384', '410', 'crop') : 'assets/images/placeholder-default.png'|theme }}" alt=""/>
      		</a>
	      	<div class="thumbnail-desc">
		        <h5 class="thumbnail-josip-title font-weight-bold text-white">{{ doctor.name }}</h5>
		        <p class="d-none d-lg-block font-italic text-white offset-top-0">{{ doctor.type.name }}</p>
	      	</div>
	      	<figcaption>
	      		<a class="btn btn-block btn-rect text-lg-left btn-java" href="{{ 'team/detail'|page({parameter: doctor.slug}) }}">view full profile</a>
	      	</figcaption>
	    </figure>
	    {% endfor %}
  	</div>
</section>

<!-- latest blog posts-->
<section class="section-98 section-sm-110">
	<div class="container">
	    <h3>BERITA BARU</h3>
	    <hr class="divider divider-lg bg-java">

	    <div class="row justify-content-sm-center offset-top-60 row-50">
	    	{% for post in blogPosts.posts %}
	      	<div class="col-md-8 col-lg-4">
		        {% partial 'news/post' post=post %}
	      	</div>
	      	{% endfor %}
	    </div>
    	<div class="offset-top-50"> <a class="btn btn-ellipse btn-java" href="{{ 'news/index'|page }}">Lihat Semua</a></div>
  	</div>
</section>

{% partial 'map-location' %}
