<div class="inset-xl-left-40">
		<div>
	        <h6>Media Sosial</h6>
	        <hr class="text-subline">

	        <ul class="list-inline">
	      		<li class="list-inline-item">
	          		<a class="icon fa fa-facebook icon-xxs icon-circle icon-gray-light" href="{{ settings.general.general_social_facebook }}" target="_blank"></a>
	          	</li>
	          	<li class="list-inline-item">
	          		<a class="icon fa fa-instagram icon-xxs icon-circle icon-gray-light" href="{{ settings.general.general_social_instagram }}" target="_blank"></a>
	          	</li>
	        </ul>
			</div>

			<div class="offset-top-60">
	        <h6>Alamat</h6>
	        <hr class="text-subline">

	        <div class="offset-top-20">
	          	<div class="unit flex-row unit-spacing-xxs p">
	                <div class="unit-left">
	              		<div class="icon icon-xxs text-middle mdi mdi-map-marker text-primary"></div>
	                </div>
	            	<div class="unit-body">
	                  	<p>
	                  		<a class="text-gray-dark" href="https://www.google.com/maps/dir//-6.0995535,106.1409975/@-6.099553,106.140998,16z?hl=en-US" target="_blank">{{ settings.general.general_contact_address }}</a>
	                  	</p>
	            	</div>
	          	</div>
	        </div>
		</div>

		<div class="offset-top-60">
	        <h6>Jam Buka</h6>
	        <hr class="text-subline">

	        <div class="offset-top-20">
	      		<div class="unit flex-row unit-spacing-xxs p">
	                <div class="unit-left">
	              		<div class="icon icon-xxs text-middle mdi mdi-calendar-clock text-primary"></div>
	                </div>
	            	<div class="unit-body">
						{% for opening in settings.general.general_info_open %}
	              		<div>{{ opening.day }} &mdash; {{ opening.time }}</div>
	              		{% endfor %}
	            	</div>
	          	</div>
	        </div>
		</div>

		<div class="offset-top-60">
	        <h6>Telepon</h6>
	        <hr class="text-subline">
	        <div class="offset-top-20">
	      		<div class="unit flex-row unit-spacing-xxs p">
	                <div class="unit-left">
	              		<div class="icon icon-xxs text-middle mdi mdi-phone text-primary"></div>
	                </div>
	                <div class="unit-body">
	                	<a class="text-dark d-block" href="tel:{{ settings.general.general_contact_phone }}">{{ settings.general.general_contact_phone_display }}</a>
	                </div>
	          	</div>
	        </div>
		</div>

		<div class="offset-top-60">
		<h6>e-mail</h6>
		<hr class="text-subline">

        <div class="offset-top-20">
      		<div class="unit flex-row unit-spacing-xxs p">
                <div class="unit-left">
              		<div class="icon icon-xxs text-middle mdi mdi-email-outline text-primary"></div>
                </div>
            	<div class="unit-body">
            		<a class="text-dark" href="mailto:{{ settings.general.general_contact_email }}">
            			{{ settings.general.general_contact_email }}
            		</a>
        		</div>
          	</div>
        </div>
	</div>
</div>
