title     = "Karir"
url       = "/career"
layout    = "default"
is_hidden = 0

[Career]
==
{% set careers = Career.getAll %}

{% partial 'banner' %}
<section class="section-98 section-sm-110">
    <div class="container">
        <div class="card-group-custom card-group-classic accordion" id="accordion2" role="tablist" aria-multiselectable="false">

            {% if careers|length %}
                {% for key, career in careers %}
                <article class="card card-custom card-classic">
                    <div class="card-header" role="tab">
                        <div class="card-title">
                            <a id="accordion2-card-head-vclpyuiu" data-toggle="collapse" data-parent="#accordion2" href="#career{{ career.id }}" aria-controls="{{ career.id }}" aria-expanded="false" role="button" class="{{ key == 0 ? '' : 'collapsed' }}">
                                {{ career.name }}
                                <div class="card-arrow"></div>
                            </a>
                        </div>
                    </div>

                    <div class="collapse {{ key == 0 ? 'show' }}" id="career{{ career.id }}" aria-labelledby="accordion2-card-head-vclpyuiu" data-parent="#accordion2" role="tabpanel" style="">
                        <div class="card-body text-left">
                            {{ career.content|md }}
                        </div>
                    </div>
                </article>
                {% endfor %}
            {% else %}
                {% partial 'no-content' message='Belum ada konten karir' %}
            {% endif %}
        </div>
    </div>
</section>
