title     = "d"
url       = "/news/detail/:slug"
layout    = "default"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
==
<?php
function onEnd() {
    $this->page->title = $this->blogPost->post->title;
    $this->page->description = $this->blogPost->post->excerpt ?: strip_tags($this->blogPost->post->content);
    $this->page->image = $this->blogPost->post->featured_images()->count() ? $this->blogPost->post->featured_images->first()->getThumb(1200, 630, 'crop') : '';
}
?>
==
<main class="page-content">
<!-- Modern Blog-->
<section class="section-98 section-sm-110 text-left">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
        <h4 class="font-weight-bold text-primary">{{ post.title }}</h4>
        <ul class="list list-inline list-inline-dashed offset-top-4">
          <li class="list-inline-item">{{ post.published_at|date('d F Y H:i') }}</li>
          <li class="list-inline-item">by<a class="text-java" href="#"> Administrator</a>
          </li>
        </ul>
        <div class="offset-top-30"><img class="img-responsive center-block" src="{{ post.featured_images ? post.featured_images.first.path : 'assets/images/post-10-770x480.jpg'|theme }}" width="770" alt=""></div>
        <div class="offset-top-30">
          {{ post.content_html|raw }}
        </div>
        <div class="offset-top-30">
            <div class="shareaholic-canvas" data-app="share_buttons" data-app-id="28390887"></div>
        </div>
        <div class="offset-top-30 offset-md-top-66">
          <div class="clearfix"></div>
          <div class="offset-top-66">
            <h6>posted by</h6>
            <hr class="text-subline">
          </div>
          <div class="offset-top-30">
            <div class="unit unit-xs flex-sm-row">
              <div class="unit-left"><img class="rounded-circle img-responsive center-block" src="{{ 'assets/images/logo-primary.jpg'|theme }}" width="170" height="170" alt=""></div>
              <div class="unit-body text-sm-left">
                <div>
                  <h5><a href="#">Administrator</a></h5>
                </div>
                <div class="offset-top-20 text-left">
                  <p>{{ settings.general.general_site_description }}</p>
                </div>
              </div>
            </div>
          </div>
      </div>
     </div>
  </div>
</section>
</main>
