title     = "Berita"
url       = "/news"
layout    = "default"
is_hidden = 0

[blogPosts]
pageNumber     = "{{ :page }}"
postsPerPage   = 10
noPostsMessage = "No posts found"
sortOrder      = "published_at desc"
categoryPage   = "blog/category"
postPage       = "blog/post"
==

{% partial 'banner' %}
<section class="section-98 section-sm-110">
	<div class="container">
	    <div class="row justify-content-sm-center offset-top-60 row-50">
	    	{% for post in blogPosts.posts %}
	      	<div class="col-md-8 col-lg-4">
		        {% partial 'news/post' post=post %}
	      	</div>
	      	{% endfor %}
	    </div>
  	</div>
</section>
