<article class="post post-modern post-modern-classic">
    <header class="post-media">
        <a href="{{ 'news/detail'|page({slug: post.slug}) }}">
            <img class="img-responsive img-cover" width="370" height="250" src="{{ post.featured_images ? post.featured_images[0].getThumb('370', '250', 'crop') : 'assets/images/blog/post-13-370x250.jpg'|theme }}" alt=""/>
        </a>
    </header>

    <section class="post-content text-left">
        <div class="post-title offset-top-8">
            <h4 class="font-weight-bold"><a href="{{ 'news/detail'|page({slug: post.slug}) }}">{{ post.title }}</a></h4>
        </div>
        <ul class="list-inline list-inline-dashed">
            <li class="list-inline-item">{{ post.published_at|date('d F Y H:i') }}</li>
            {# <li class="list-inline-item"><a class="text-java" href="blog-masonry.html">Healthy Lifestyle</a></li> #}
        </ul>
        <div class="post-body">
            {{ post.excerpt ?: html_limit(html_strip(post.content_html), 300, '...') }}
        </div>
        <div class="tags group group-sm"></div>
    </section>
</article>
