title     = "Fasilitas Kamar"
url       = "/room"
layout    = "default"
is_hidden = 0

[Room]
==
{% set rooms = Room.getAll %}

{% partial 'banner' %}
{#
<section class="section-98 section-sm-110">
	<div class="container">
		<div class="row justify-content-sm-center">
		  	<div class="col-lg-12 col-xl-8">
			    <div class="row justify-content-sm-center row-50">
			    	{% for room in rooms %}
			      	<div class="col-md-12">
				        <article class="post post-modern post-modern-classic">
				          	<header class="post-media">
				          		<img class="img-responsive img-cover" src="{{ 'assets/images/blog/post-08-770x480.jpg'|theme }}" alt="" width="370" height="240">
				          	</header>

				          	<section class="post-content text-left">
					            <div class="post-title offset-top-8">
				              		<h4 class="font-weight-bold">
				              			<a href="{{ 'room/detail'|page({parameter: room.slug}) }}">{{ room.name }}</a>
				              		</h4>
					            </div>
					            <div class="post-body">
				              		<p>{{ room.description }}</p>
					            </div>
				          	</section>
				        </article>
				    </div>
				    {% endfor %}
			    </div>
		  	</div>
		</div>
	</div>
</section>
#}

<section class="section-98 section-sm-110">
    <div class="container">
        <div class="card-group-custom card-group-classic accordion" id="accordion2" role="tablist" aria-multiselectable="false">
            {% for key, room in rooms %}
            <article class="card card-custom card-classic">
                <div class="card-header" role="tab">
                    <div class="card-title">
                        <a id="accordion2-card-head-vclpyuiu" data-toggle="collapse" data-parent="#accordion2" href="#room{{ room.id }}" aria-controls="{{ room.id }}" aria-expanded="false" role="button" class="{{ key == 0 ? '' : 'collapsed' }}">
                            {{ room.name }}
                            <div class="card-arrow"></div>
                        </a>
                    </div>
                </div>

                <div class="collapse {{ key == 0 ? 'show' }}" id="room{{ room.id }}" aria-labelledby="accordion2-card-head-vclpyuiu" data-parent="#accordion2" role="tabpanel" style="">
                    <div class="card-body text-left">
                        {{ room.content|md }}
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>
</section>
