//
// Load all required stylesheets
//

@import '_all';

//
// Your app styles
//


.bg-primary {
    background-color: #f36540;
}

.swiper-primary {
    .swiper-image {
        margin-bottom: -620px;
    }
}

.img-full {
    width: 100%;
}

.sheldue-item  {
	.sheldue-item-body {
		.icon  {
			color: #fff !important;
		}
	}
}

.rd-navbar-brand {
	img {
		width: 80px;
	}

	&.d-xl-none {
		img {
			box-shadow: 0 0 10px 0 fade(#333, 35%);
		}
	}
}

.rd-navbar-mobile-brand {
	img {
		width: 80px;
	}
}

.contact-info  {
	.unit-body {
		overflow: hidden;
		white-space: nowrap;

		a {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
	}
}

select.form-input {
    line-height: inherit;
}

.footer-brand {
    img {
        width: auto;
        height: 100px;
    }
}

.datetimepicker td, .datetimepicker th {
    width: 20px !important;
}

.datetimepicker th.switch {
    width: 145px !important;
}

.form-label {
	position: relative !important;
	left: 0px !important;
	top: 0px !important;
	transform: none !important;
}

.ui-datepicker {
    z-index: 99999 !important;
}

.ui-datepicker-week-end {
	width: auto !important;
}
