<div class="form-wrap">
    <label class="form-label form-label-outside" for="contact-email">Rekam Medis</label>
    <input class="form-input" type="text" name="record">
</div>

<div class="form-wrap">
    <label class="form-label form-label-outside" for="contact-email">Tanggal Lahir</label>
    <input class="form-input" type="text" name="dob" data-datetimepicker>
</div>
