<div class="form-wrap">
    <label class="form-label form-label-outside" for="contact-email">Tempat Lahir</label>
    <input class="form-input" type="text" name="born_place">
</div>

<div class="form-wrap">
    <label class="form-label form-label-outside" for="contact-dob">Tanggal Lahir</label>
    <input class="form-input" type="text" name="dob" data-datetimepicker>
</div>

<div class="form-wrap">
    <label class="form-label form-label-outside" for="contact-bloodtype">Golongan Darah</label>
    <input class="form-input" type="text" name="blood_type">
</div>

<div class="form-wrap">
    <label class="form-label form-label-outside" for="contact-religion">Agama</label>
    <input class="form-input" type="text" name="religion">
</div>

<div class="form-wrap">
    <label class="form-label form-label-outside" for="contact-job">Pekerjaan</label>
    <input class="form-input" type="text" name="job">
</div>

<div class="form-wrap">
    <label class="form-label form-label-outside" for="contact-education">Pendidikan Terakhir</label>
    <input class="form-input" type="text" name="education">
</div>

<div class="form-wrap">
    <label class="form-label form-label-outside" for="contact-marital">Status Perkawinan</label>
    <input class="form-input" type="text" name="marital">
</div>

<div class="form-wrap">
    <label class="form-label form-label-outside" for="contact-marital">Alergi</label>
    <input class="form-input" type="text" name="allergy">
</div>

<div class="form-wrap">
    <label class="form-label form-label-outside" for="contact-marital">Alamat Lengkap</label>
    <textarea class="form-input" type="text" name="address"></textarea>
</div>

<div class="form-wrap">
    <label class="form-label form-label-outside" for="contact-marital">RT / RW</label>
    <input class="form-input" type="text" name="rt">
</div>

<div class="form-wrap">
    <label class="form-label form-label-outside" for="contact-marital">Provinsi</label>
    <input class="form-input" type="text" name="province">
</div>

<div class="form-wrap">
    <label class="form-label form-label-outside" for="contact-marital">Kota/Kabupaten</label>
    <input class="form-input" type="text" name="regency">
</div>

<div class="form-wrap">
    <label class="form-label form-label-outside" for="contact-marital">Kecamatan</label>
    <input class="form-input" type="text" name="district">
</div>

<div class="form-wrap">
    <label class="form-label form-label-outside" for="contact-marital">Kelurahan</label>
    <input class="form-input" type="text" name="village">
</div>

<div class="form-wrap">
    <label class="form-label form-label-outside" for="contact-marital">Kode Pos</label>
    <input class="form-input" type="text" name="postal">
</div>

<div class="form-wrap">
    <label class="form-label form-label-outside" for="contact-marital">Nomor Identitas (KTP)</label>
    <input class="form-input" type="text" name="identity">
</div>

<div class="mg-t-40"></div>
<h6 class="text-lg-left">INFORMASI PENANGGUNG JAWAB</h6>
<hr class="text-subline">

<div class="form-wrap">
    <label class="form-label form-label-outside" for="contact-marital">Nama</label>
    <input class="form-input" type="text" name="pic_name">
</div>

<div class="form-wrap">
    <label class="form-label form-label-outside" for="contact-marital">Nomor Identitas (KTP)</label>
    <input class="form-input" type="text" name="pic_identity">
</div>

<div class="form-wrap">
    <label class="form-label form-label-outside" for="contact-marital">No. Telepon</label>
    <input class="form-input" type="text" name="pic_phone">
</div>

<div class="form-wrap">
    <label class="form-label form-label-outside" for="contact-marital">Hubungan Dengan Pasien</label>
    <input class="form-input" type="text" name="pic_relation">
</div>
