<label class="form-label form-label-outside">Dokter</label>
<select name="doctor_id" class="form-input"
    data-request="Appointment::onSelectDoctor"
    data-request-update="'appointment/select-schedule': '[data-target-schedules]'">
	<option value="">-- Pilih --</option>
	{% for doctor in doctors %}
	<option value="{{ doctor.id }}">{{ doctor.name }}</option>
	{% endfor %}
</select>
