<label class="form-label form-label-outside">Waktu</label>
<select name="scheduled_at" class="form-input">
    <option value="">-- Pilih --</option>
    {% for schedule in doctor.schedule %}

    {% if schedule.day == 'Sunday' %}
    {% set day = 'Minggu' %}
    {% endif %}

    {% if schedule.day == 'Monday' %}
    {% set day = 'Senin' %}
    {% endif %}

    {% if schedule.day == 'Tuesday' %}
    {% set day = 'Selasa' %}
    {% endif %}

    {% if schedule.day == 'Wednesday' %}
    {% set day = 'Rabu' %}
    {% endif %}

    {% if schedule.day == 'Thursday' %}
    {% set day = 'Kamis' %}
    {% endif %}

    {% if schedule.day == 'Friday' %}
    {% set day = 'Jumat' %}
    {% endif %}

    {% if schedule.day == 'Satudray' %}
    {% set day = 'Sabtu' %}
    {% endif %}

    <option data-day="{{ schedule.day }}" value="{{ schedule.time_start|date('H:i') }} s/d {{ schedule.time_end|date('H:i') }}">[{{ day }}] {{ schedule.time_start|date('H:i') }} s/d {{ schedule.time_end|date('H:i') }}</option>
    {% endfor %}
</select>
