<div data-control="toolbar">
    <a
        href="<?= Backend::url('garcia/core/doctors/create') ?>"
        class="btn btn-primary oc-icon-plus">
        New Doctor
    </a>
    <a
        href="<?= Backend::url('garcia/core/doctortypes') ?>"
        class="btn btn-default oc-icon-list">
        Jabatan Dokter
    </a>
</div>
