<!-- Primary content -->
<?php Block::put('form-contents') ?>
    <?php Block::put('breadcrumb') ?>
        <ul>
            <li><a href="<?= Backend::url('garcia/core/doctors') ?>">Doctors</a></li>
            <li><?= e($this->pageTitle) ?></li>
        </ul>
    <?php Block::endPut() ?>


    <?php if (!$this->fatalError): ?>
        <?= Form::open(['class' => 'layout']) ?>
            <div class="layout-row">
                <?= $this->formRenderOutsideFields() ?>
                <?= $this->formRenderPrimaryTabs() ?>
            </div>

            <div class="form-buttons">
                <div class="loading-indicator-container">
                    <button
                        type="submit"
                        data-request="onSave"
                        data-hotkey="ctrl+s, cmd+s"
                        data-load-indicator="Creating Doctor..."
                        class="btn btn-primary">
                        Create
                    </button>
                    <button
                        type="button"
                        data-request="onSave"
                        data-request-data="close:1"
                        data-hotkey="ctrl+enter, cmd+enter"
                        data-load-indicator="Creating Doctor..."
                        class="btn btn-default">
                        Create and Close
                    </button>
                    <span class="btn-text">
                        or <a href="<?= Backend::url('garcia/core/doctors') ?>">Cancel</a>
                    </span>
                </div>
            </div>
        <?= Form::close() ?>
    <?php else: ?>
        <p class="flash-message static error"><?= e($this->fatalError) ?></p>
        <p><a href="<?= Backend::url('garcia/core/doctors') ?>" class="btn btn-default">Return to doctors list</a></p>
    <?php endif ?>
<?php Block::endPut() ?>

<!-- Complimentary sidebar -->
<?php Block::put('form-sidebar') ?>
    <div class="hide-tabs">
        <?= $this->formRenderSecondaryTabs() ?>
    </div>
<?php Block::endPut() ?>

<!-- Layout execution -->
<?php Block::put('body') ?>
    <?= Form::open(['class'=>'layout stretch']) ?>
        <?= $this->makeLayout('form-with-sidebar') ?>
    <?= Form::close() ?>
<?php Block::endPut() ?>
