title     = "Buat Janji Dokter"
url       = "/schedule/create"
layout    = "default"
is_hidden = 0

[Appointment]
==
{% set medics  = Appointment.getMedic %}

{% partial 'banner' %}
<main class="page-content section-98 section-sm-110">
    <section>
        <div class="container text-left">
            <form data-request="Appointment::onSend" style="width: 100%" data-request-flash>
                <h6 class="text-lg-left">INFORMASI PENJADWALAN</h6>
                <hr class="text-subline">

                <div class="form-wrap">
                    <label class="form-label form-label-outside">Tujuan</label>
                    <select name="medic_id" class="form-input" data-request="Appointment::onSelectMedic" data-request-update="'appointment/select-doctor': '[data-target-doctors]', 'appointment/select-schedule': '[data-target-schedules]'">
                        <option value="">-- Pilih --</option>
                        {% for medic in medics %}
                        <option value="{{ medic.id }}">{{ medic.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-wrap" data-target-doctors>
                    {% partial 'appointment/select-doctor' %}
                </div>

                <div class="form-wrap">
                    <label class="form-label form-label-outside">Jadwal</label>
                    <input class="form-input" type="text" name="schedule_date" data-datetimepicker>
                </div>

                <div class="form-wrap" data-target-schedules>
                    {% partial 'appointment/select-schedule' %}
                </div>

                <div data-target-form-day>
                    {% partial 'appointment/form-day' %}
                </div>

                <div class="mg-t-40"></div>
                <h6 class="text-lg-left">INFORMASI PASIEN</h6>
                <hr class="text-subline">

                <div class="form-wrap">
                    <label class="form-label form-label-outside">Jenis Pasien</label>
                    <select name="type" class="form-input"
                        data-request="Appointment::onSelectPatient"
                        data-request-update="'appointment/form-patient': '[data-target-patient-new]'"
                        data-request-success="datepickerInit()">
                        <option value="">-- Pilih --</option>
                        <option value="baru">Pasien Baru</option>
                        <option value="lama">Pasien Lama</option>
                    </select>
                </div>

                <div class="form-wrap">
                    <label class="form-label form-label-outside" for="contact-email">Nama</label>
                    <input class="form-input" type="text" name="name">
                </div>

                <div class="form-wrap">
                    <label class="form-label form-label-outside" for="password">Email</label>
                    <input class="form-input" name="email" type="email">
                </div>

                <div class="form-wrap">
                    <label class="form-label form-label-outside" for="password">No. Telepon</label>
                    <input class="form-input" name="phone" type="text">
                </div>

                <div data-target-patient-new></div>

                <div class="offset-top-20">
                    <div class="d-sm-flex offset-none align-items-sm-center text-center text-sm-left">
                        <button class="btn btn-block btn-ellipse btn-java" type="submit" data-attach-loading>KIRIM</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>

{% put scripts %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$('body').on('change', 'select[name="scheduled_at"]', function(){
    var data = $('select[name="scheduled_at"] :selected').data('day');
    $('[data-target-day-name]').val(data);
});

$(function(){
    datepickerInit();
})

function datepickerInit() {
    $('[data-datetimepicker]').datepicker({
        dateFormat: 'yy-mm-dd',
        autoclose: true,
    });
}
</script>
{% endput %}
