title     = "Jadwal Dokter"
url       = "/schedule"
layout    = "default"
is_hidden = 0

[Doctor]
==
{% set types = Doctor.getType %}
{% partial 'banner' %}
<main class="page-content">
	<!-- Timetable-->
	<section class="section-98 section-sm-110">
	    <div class="row row-50 justify-content-center">
            <div class="col-lg-12">
    	        <div class="tabs-custom tabs-horizontal tabs-corporate" id="tabs-1">
                    <ul class="nav nav-tabs justify-content-lg-center">
                        {% for key, type in types %}
                        <li class="nav-item" role="presentation">
                            <a class="nav-link {{ key == 0 ? 'active' : ''}}" href="#{{ type.id }}" data-toggle="tab">{{ type.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
    	        </div>
            </div>
        </div>

        <div class="container mg-t-40">
            <div class="row row-50 justify-content-center">
                <div class="col-lg-12">
                    <div class="tab-content">
                        {% for key, type in types %}
                        {% set doctors = Doctor.getByType(type.id) %}
                        <div class="tab-pane fade show {{ key == 0 ? 'active' : '' }}" id="{{ type.id }}">

                            {% for doctor in doctors %}
                            <div class="mg-b-40 text-left">
                                <h4>Dokter: {{ doctor.name }}</h4>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Hari</th>
                                            <th>Waktu</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for d in doctor.schedule %}
                                            {% if d.day == 'Sunday' %}
                                            {% set day = 'Minggu' %}
                                            {% endif %}

                                            {% if d.day == 'Monday' %}
                                            {% set day = 'Senin' %}
                                            {% endif %}

                                            {% if d.day == 'Tuesday' %}
                                            {% set day = 'Selasa' %}
                                            {% endif %}

                                            {% if d.day == 'Wednesday' %}
                                            {% set day = 'Rabu' %}
                                            {% endif %}

                                            {% if d.day == 'Thrusday' %}
                                            {% set day = 'Kamis' %}
                                            {% endif %}

                                            {% if d.day == 'Friday' %}
                                            {% set day = 'Jumat' %}
                                            {% endif %}

                                            {% if d.day == 'Satudray' %}
                                            {% set day = 'Sabtu' %}
                                            {% endif %}
                                        <tr>
                                            <td>{{ day }}</td>
                                            <td>{{ d.time_start|date('H:i') }} s/d {{ d.time_end|date('H:i') }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="container mg-t-40">
            <div class="text-center">
                <a class="btn btn-ellipse btn-java" href="{{ 'schedule/create'|page }}">BUAT JANJI</a>
            </div>
        </div>
	</section>
</main>
