<div class="mg-b-40">
    <div class="page-header">
        <h3>Informasi Penjadwalan</h3>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <td>Dibuat pada</td>
                <td>{{ appointment.created_at|date('l, d F Y H:i') }}</td>
            </tr>
            <tr>
                <td>Jadwal</td>
                <td>{{ appointment.scheduled_at|date('l, d F Y H:i') }}</td>
            </tr>
            <tr>
                <td>Dokter</td>
                <td>{{ appointment.doctor.name }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="mg-b-40">
    <div class="page-header">
        <h3>Informasi Pelanggan</h3>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <td>Nama</td>
                <td>{{ appointment.name }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ appointment.email }}</td>
            </tr>
            <tr>
                <td>No. Telefon</td>
                <td>{{ appointment.phone }}</td>
            </tr>
        </tbody>
    </table>
</div>
