<html><head>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
    <style type="text/css" media="screen">
        {{ css|raw }}
    </style>
</head><body style="background: url({{ background_img }}) top left no-repeat;">
    <div id="header">

    </div>

    <div id="footer">
        <div class="line"></div>
        <div class="left">
            <strong>RSIA Puri Garcia</strong>
            &middot;
            {{ general.general_contact_phone }}
            &middot;
            <a href="mailto:{{ general.general_contact_email }}">{{ general.general_contact_email }}</a>
            &middot;
            <a href="http://rspurigarcia.com">www.rspurigarcia.com</a>
        </div>
        <div class="right">Page <span class="page-number"></span></div>
    </div>


    <table class="body-wrap">
        <tr>
            <td class="container">
                <table>
                    <!-- Header -->
                    <tr>
                        <td align="center" class="masthead">
                            <img alt="" class="img-responsive" src="http://rspurigarcia.com/themes/primary/assets/images/logo-primary.jpg" style="height: 100px; width: auto"/>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <div id="content" class="content">{{ content_html|raw }}</div>
</body></html>
