/* Source: assets/less/print.less */
html {
  font-family: 'Lato';
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 12px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
p {
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}
small,
.small {
  font-size: 85%;
}
mark,
.mark {
  background-color: #fcf8e3;
  padding: .2em;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-muted {
  color: #777777;
}
.text-primary {
  color: #df714c;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #449d44;
}
.text-success {
  color: #3c763d;
}
a.text-success:hover,
a.text-success:focus {
  color: #2b542c;
}
.text-info {
  color: #31708f;
}
a.text-info:hover,
a.text-info:focus {
  color: #245269;
}
.text-warning {
  color: #8a6d3b;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #66512c;
}
.text-danger {
  color: #a94442;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #843534;
}
.bg-primary {
  color: #fff;
  background-color: #df714c;
}
a.bg-primary:hover,
a.bg-primary:focus {
  background-color: #449d44;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover,
a.bg-success:focus {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover,
a.bg-info:focus {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover,
a.bg-warning:focus {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover,
a.bg-danger:focus {
  background-color: #e4b9b9;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777777;
}
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777777;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right;
}
.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
  content: '';
}
.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}
address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}
@page {
  margin: 1cm 1cm;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1em;
  color: #333333;
  background-color: #ffffff;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.page-break {
  page-break-after: always;
}
.page-break-avoid {
  page-break-inside: avoid;
}
/*
 * Custom Bootstrap variables.
 *
 * See list of available variables at http://getbootstrap.com/customize/
 */
/* @color-green: #67BB1E; */
/* Body */
body {
  padding: 0;
  margin: 0;
}
a,
a:link,
a:active,
a:visited {
  color: #df714c;
  text-decoration: none;
}
.page-number:before {
  content: counter(page);
}
#header {
  position: fixed;
  top: -30;
  left: -60;
  right: -60;
  width: 100%;
  border-top: 10px solid #df714c;
}
#header .left {
  color: #373430;
  font-size: .9em;
  text-transform: uppercase;
  width: 60%;
  display: inline-block;
}
#header .right {
  font-size: .7em;
  color: #545554;
  line-height: 1em;
  text-align: right;
  display: inline-block;
  width: 30%;
  padding-top: 1%;
}
#header .logo {
  float: right;
  text-align: right;
}
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;
  font-size: .7em;
  color: #545554;
  line-height: 1em;
  width: 100%;
}
#footer .line {
  background: #df714c;
  height: 5px;
  position: absolute;
  left: 0px;
  top: 10px;
  width: 100%;
}
#footer .footer-logo {
  position: absolute;
  top: 0;
  left: 10px;
  height: 50px;
}
#footer .left {
  top: 20px;
  left: 00px;
  text-align: left;
  position: absolute;
}
#footer .right {
  top: 20px;
  right: 0;
  text-align: right;
  position: absolute;
}
#content {
  margin: 0;
  margin-bottom: 100px;
}
.container {
  width: auto !important;
}
/* Typography */
.text-condensed {
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  line-height: 1.4;
}
.text-white {
  color: #fff;
}
/* Page Header */
.page-header {
  margin: 0 0 20px;
  background: #fafafa;
  padding-top: 40px;
}
/* Tours Detail Page */
/* Syarat Ketentuan Tabs */
.start-sk .rk-title {
  font-size: 18px;
  color: #df714c;
}
.small-txt {
  font-size: .7em;
}
.company-info {
  display: inline-block;
  width: 55%;
  line-height: 1.1em;
  font-size: 1.1em;
}
.customer-info {
  display: inline-block;
  width: 45%;
  font-size: .9em;
  height: 10%;
}
#summary {
  margin: 10% 0 5% 0;
  width: 90%;
}
#summary th {
  background-color: #BEBEBE;
  border: 1px solid #000;
  padding: 10px;
}
#summary td {
  padding: 5px 10px;
  border-right: 1px solid #000;
}
#summary .col-1 {
  width: 15%;
  text-align: center;
  border-left: 1px solid #000;
}
#summary .col-2 {
  width: 50%;
}
#summary .col-3 {
  width: 15%;
  text-align: right;
}
#summary .col-4 {
  width: 20%;
  text-align: right;
}
#summary .bt {
  border-top: 1px solid #000;
}
#summary .sum-price .col-4 {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}
/* Tour Detail */
.tour-description {
  font-size: 16px;
  font-weight: 300;
  color: #333;
}
.itinerary {
  position: relative;
  padding-left: 50px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
}
.itinerary-header {
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  min-height: 30px;
  padding: 5px 0;
}
.itinerary-day {
  position: absolute;
  top: 0;
  left: 0;
  background: #df714c;
  color: white;
  width: 40px;
  height: 40px;
  line-height: 1em;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  margin-right: 15px;
  border-radius: 20px;
}
.place-item {
  font-weight: 600;
}
.place-item:last-child:after {
  content: none;
}
.table {
  border: 1px solid #333;
  border-collapse: collapse;
}
.table tr td,
.table tr th {
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  width: 50%;
}
.table tr td,
.table tr th {
  padding: 10px;
  margin: 0px;
  text-align: left;
}
.table-price {
  font-size: 11px;
}
.table-flight td,
.table-flight th {
  vertical-align: top;
}
.flight-g .g-time {
  font-size: 21px;
  line-height: 28px;
}
.summary-flight table {
  width: 100%;
}
.summary-flight table tr {
  margin-bottom: 10px;
}
.summary-flight table tr td {
  padding: 10px;
  vertical-align: top;
}




/* Kiw */
.container .masthead img {
  width: 200px;
  margin-bottom: 20px;
  /* margin: 100px auto; */
}

.table-summary {
  margin-top: 40px;
  margin-bottom: 40px;
}
.table-summary tr th,
.table-summary tr td {
  width: 33.3%;
  text-align: left;
  padding: 10px;
  border: 1px solid #777777;
}
.table-summary tfoot tr td:first-child {
  text-align: right;
  font-weight: bold;
}
table.table-information-order {
  border-top: 1px solid #777777;
  border-bottom: 1px solid #777777;
  margin-bottom: 20px;
}
table.table-information-order tr td {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 33.3%;
}
table.table-information-order tr td .information-head {
  color: #777777;
  font-size: 16px;
}
table.table-information-order tr td .information-body {
  font-size: 21px;
  line-height: 1.5em;
}
table.table-information-order tr td .information-body.info-order {
  color: #df714c;
}
table.table-information-order tr td .information-body.info-status {
  color: #5fa413;
}
table.table-information-shipping .muted {
  color: #777777;
}
table.table-information-shipping tr td {
  width: 50%;
  vertical-align: top;
}
